html,
body {
  height: 100%;
}

body {
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-header {
  flex: 0 0 auto;
}

.page-content {
  flex: 1 1 auto;
  position: relative; /* need this to position inner content */
  overflow-y: auto;
}

/*.page-footer {
  flex: 0 0 auto;
}*/

.my-flex-container {
  height: 100vh;
  /*margin-bottom: 20px;*/
}
/.my-flex-container-column {
  height: 100vh;
  /*margin-bottom: 20px;*/
}
.my-flex-item {
  height: 100vh;
}
.my-flex-item-2 {
  height: 100vh;
}

.container-fluid {
  min-height: 100%;
  position: absolute;
  z-index: 0;
}

.navbar-brand {
  position: relative;
  background: url(../assets/img/logo.png);
  width: 130px;
  height: 60px;
  background-size: contain;
}

/* .page-footer {
  height: -50px;
  margin-top: -50px;
} */

.map {
  height: 100vh;
  z-index: 1;
}

/* #sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
  z-index: 2;
} */

#home {
}

#portrait {
}
